
<body>
    <h2 class="mt-md-5 pt-md-5"></h2>
        <h2 class="fortest ml-5 pt-md-5 mt-md-5">管理員登入頁面</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="bar p-0 col-12 col-md-6 offset-md-5 mb-2 p-md-5">
                    <ul class="nav navbar-nav m-0 p-0">
                        <li class="btn btn-success btn-block">@Html.ActionLink("遊戲資料", "List", "Home", null, new { @class = "", @style = "font-size:3vh" })</li>
                        @*<li class="btn btn-success btn-block">@Html.ActionLink("json測試", "testview", "Home", null, new { @class = "", @style = "font-size:10px" })</li>*@
                    </ul>
                </div>
                @*<div class="bar p-0 col-12 col-md-6 offset-md-5 p-md-5">
                    <ul class="nav navbar-nav m-0 p-0">
                        <li class="btn btn-success btn-block">@Html.ActionLink("上傳圖片", "Upload", "Home", null, new { @class = "", @style = "font-size:3vh" })</li>
                    </ul>
                </div>*@
                <div class="bar p-0 col-12 col-md-6 offset-md-5 p-md-5">
                    <ul class="nav navbar-nav m-0 p-0">
                        <li class="btn btn-success btn-block">@Html.ActionLink("會員資料", "UserDel", "Home", null, new { @class = "", @style = "font-size:3vh" })</li>
                    </ul>
                </div>
            </div>
        </div>
</body>